# Java Build Files
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs and Crash Reports
*.log
hs_err_pid*
replay_pid*

# IDE Specific
.idea/
*.iml
out/

# Maven Output
target/

# Other Tools
*.swp

# Files
.DS_Store
Thumbs.db
